# Python
__pycache__/
venv/

# Environment variables
.env

# IDEs and editors
.vscode/

# Operating System files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

.claude/

/backend/data/
/backend/embeddings/
supabase/
